<section class="first">
  <div class="first-wrap">
    <div class="container">
      <div class="first__left">
<!--        <h2 class="first__title">Заказать выезд дизайнера</h2>-->
        <h2 class="first__title">ДОВЕРЬТЕ СОЗДАНИЕ КРАСИВЫХ ШТОР ПРОФЕССИОНАЛАМ!</h2>

        <form class="callback js-order-form" id="zamer">
          <input type="text" name="order-name" placeholder="Ваше имя" required>
          <input type="tel" class="my-phone" name="order-phone" placeholder="+7 XXX XXX XX XX" required>
          <p class="msg-text">Отправлено</p>
          <button type="submit">Отправить заявку</button>
        </form>
      </div>
    </div>
  </div>
  <div class="first__bottom">
    <div class="container">
      <p>
        Компания “Европа Азиа” работает с 2006 года. В настоящее время это одна из фирм, предлагающих лучшие
        шторы в Москве и МО
      </p>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Наше портфолио</h2>

    <p class="portfolio__descr">
      Наши специалисты выполняют заказы любой сложности от простых решений в типовых квартирах до разработки
      уникального дизайна.
    </p>
  </div>
  <ul class="portfolio-slider">
    <?php foreach ( $portfolio as $item ):?>
    <li class="portfolio-slider__item">
      <a href="<?= MEDIA_DIR ?>/portfolio/<?= $item['img'] ?>" rel="group" class="fancybox portfolio-slider__link">
        <img src="<?= MEDIA_DIR ?>/portfolio/<?= $item['img'] ?>" alt="" class="portfolio-slider__img">
      </a>
      <p class="portfolio-slider__descr"><?php // $item['name'] ?></p>
    </li>
    <?php endforeach; ?>
  </ul>
</section>

<div class="how-works">

  <div class="container">
    <h3 class="how-works__title">Как мы работаем</h3>

    <ul class="how-works__list">
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">1</span>-->
<!--        <p class="how-works__text">Вы оставляете заявку</p>-->
<!--      </li>-->
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">2</span>-->
<!--        <p class="how-works__text">Наш менеджер связывается с Вами</p>-->
<!--      </li>-->
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">3</span>-->
<!--        <p class="how-works__text">Дизайнер приезжает к вам домой </p>-->
<!--      </li>-->
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">4</span>-->
<!--        <p class="how-works__text">Утверждаем дизайн проект, подписываем договор и приступаем к работе</p>-->
<!--      </li>-->
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">5</span>-->
<!--        <p class="how-works__text">Устанавливаем карнизы</p>-->
<!--      </li>-->
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">6</span>-->
<!--        <p class="how-works__text">Вешаем сшитые для Вас шторы</p>-->
<!--      </li>-->
<!--      <li class="how-works__item">-->
<!--        <span class="how-works__number">6</span>-->
<!--        <p class="how-works__text">Вы довольны и радуетесь красоте и уюту в Вашем доме</p>-->
<!--      </li>-->
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/1.png" alt="">
        <p class="how-works__text">Вы оставляете заявку</p>
      </li>
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/2.png" alt="">
        <p class="how-works__text">Наш менеджер связывается с Вами</p>
      </li>
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/3.png" alt="">
        <p class="how-works__text">Дизайнер приезжает к вам домой </p>
      </li>
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/4.png" alt="">
        <p class="how-works__text">Утверждаем дизайн проект, подписываем договор и приступаем к работе</p>
      </li>
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/5.png" alt="">
        <p class="how-works__text">Устанавливаем карнизы</p>
      </li>
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/6.png" alt="">
        <p class="how-works__text">Вешаем сшитые для Вас шторы</p>
      </li>
      <li class="how-works__item">
        <img class="how-works__img" src="../../static/img/how-work/7.png" alt="">
        <p class="how-works__text">Вы довольны и радуетесь красоте и уюту в Вашем доме</p>
      </li>
    </ul>
  </div>

</div>

<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">Преимущества нашей компании</h2>

    <ul class="benefits__list">
      <li class="benefits__item">100% гарантии качества пошива. Собственный цех, высококвалифицированные швеи.</li>
      <li class="benefits__item">Наш договор защищает Вас, четко приписываем сроки работы, цену, материалы, нашу ответственность</li>
      <li class="benefits__item">Более 5000 довольных клиентов</li>
      <li class="benefits__item">Наша студия находится в центре города. У нас работают профессиональные дизайнеры.</li>
      <li class="benefits__item">Более 12000 дизайнов тканей различных ценовых категорий от недорогих до эксклюзивных.
        <br> И более 4000 из них в наличии на складе</li>
      <li class="benefits__item">
        У нас огромный ассортимент готовой продукции для оформления интерьеров, есть эксклюзивные аксессуары для милых дам и всевозможные подарки из Европы и Азии
      </li>
    </ul>
  </div>
</section>

<section class="bottom-order">
  <div class="container">
    <h2 class="bottom-order__title">Остались вопросы?</h2>

    <form class="bottom-order__form js-order-form">
      <input type="text" name="order-name" placeholder="Ваше имя" required>
      <input type="tel" class="my-phone" name="order-phone" placeholder="+7 XXX XXX XX XX" required>
      <p class="msg-text">Отправлено</p>
      <button type="submit">Отправить заявку</button>
    </form>
  </div>
</section>